[Unit]
Description=LuneOS display manager (display states, ALS, suspend blocking)
Requires=ls-hubd.service
After=ls-hubd.service luna-sys-service.service nyx.target configurator-db8.service
BindsTo=nyx.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/sbin/LunaDisplayManager
OOMScoreAdjust=-1000

[Install]
WantedBy=multi-user.target
